.searchbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    margin: 12px auto;
    padding: 0 24px;
    border-radius: 12px;
    height: 48px;
}

.listingmap-container {
    display: flex;
    width: 100%;
}

.listing-container {
    max-height: 70vh;
    overflow-y: auto;
}

.map-container {
    height: 70vh;
}

.filter-container {
    margin: 8px auto !important;
}

/* mobile: 360px x 480px */
@media screen and (max-width: 767.9px) {
    .classes {
        width: 100%;
    }

    .searchbar {
        margin: 8px auto;
        padding: 0 16px;
        margin-right: 8px;
    }

    .listingmap-container {
        display: block;
    }
}

/* tablet portrait: 768px x 1024px */
@media screen and (min-width: 768px) and (max-width: 979.9px) {
    .classes {
        width: 100%;
    }

    .searchbar {
        margin: 8px auto;
        padding: 0 16px;
        margin-right: 8px;
    }

    .listingmap-container {
        display: block;
    }
}

/* tablet landscape: 1024px x 768px */
@media screen and (min-width: 980px) and (max-width: 1335.9px) {}

/* desktop: 1336px x 768px */
@media screen and (min-width: 1336px) {}