.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
    border: none !important;
}

.ant-menu-item-selected {
    border-bottom: none !important;
}

.ant-menu-item:hover {
    border-bottom: none !important;
}

.ant-menu-item:hover::after {
    border-bottom: none !important;
}

.ant-menu-item-selected::after {
    border-bottom: none !important;
}

.ant-menu-horizontal {
    display: none;
}

.layout-header {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFBF8;
    padding: 50px 150px;
}

.layout-content {
    padding-top: 120px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Desktop menu styling */
.desktop-menu {
    display: flex !important;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    border-bottom: none !important;
}

.desktop-menu .ant-menu-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    line-height: normal;
}

.desktop-menu .credit-menu-item {
    cursor: pointer;
}

.desktop-menu .credit-menu-item .ant-space {
    display: flex;
    align-items: center;
}

.desktop-menu .icon-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px !important;
    cursor: pointer;
}

.desktop-menu .icon-menu-item:hover {
    color: #98BDD2;
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

/* margin: 8px to 16px */
/* padding: 16px to 24px */
/* mobile: 360px x 480px */
@media screen and (max-width: 767.9px) {
    .desktop-menu {
        display: none !important;
    }

    .hamburger-menu {
        display: block;
    }

    .layout-header {
        padding: 12px 50px;
    }

    .layout-content {
        padding: 100px 0 12px 0;
        width: 100%;
    }
}

/* margin: 16px to 24px */
/* padding: 16px to 24px */
/* tablet portrait: 768px x 1024px */
@media screen and (min-width: 768px) and (max-width: 979.9px) {
    .desktop-menu {
        display: none !important;
    }

    .hamburger-menu {
        display: block;
    }

    .layout-header {
        padding: 12px 50px;
    }

    .layout-content {
        padding: 120px 24px 24px 24px;
    }
}

/* margin: 24px to 32px */
/* padding: 16px to 24px */
/* tablet landscape: 1024px x 768px */
@media screen and (min-width: 980px) and (max-width: 1335.9px) {}

/* margin: 32px to 48px */
/* padding: 24px to 32px */
/* desktop: 1336px x 768px */
@media screen and (min-width: 1336px) {}
