App.css .layout {
    background: #f0f2f5;
}

.logo-homepage {
    width: 100px !important;
    height: 50px !important;
}

.hamburger-menu {
    display: none;
}

.ant-menu-horizontal {
    display: none;
}

/* mobile: 360px x 480px */
@media screen and (max-width: 767.9px) {
    .logo-homepage {
        width: 50px !important;
        height: 25px !important;
    }

    #header-homepage {
        position: absolute;
        z-index: 3;
        width: 100%;
        background-color: transparent;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .ant-menu-horizontal {
        display: none !important;
    }

    /* You might want to adjust the drawer's position */
    .ant-drawer-content {
        padding: 0;
    }
}

/* tablet portrait: 768px x 1024px */
@media screen and (min-width: 768px) and (max-width: 979.9px) {
    .logo-homepage {
        width: 50px !important;
        height: 25px !important;
    }

    #header-homepage {
        position: absolute;
        z-index: 3;
        width: 100%;
        background-color: transparent;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .ant-menu-horizontal {
        display: none !important;
    }

    /* You might want to adjust the drawer's position */
    .ant-drawer-content {
        padding: 0;
    }
}

/* tablet landscape: 1024px x 768px */
@media screen and (min-width: 980px) and (max-width: 1335.9px) {
    .ant-menu-horizontal {
        display: flex !important;
        background: transparent;
        border-bottom: none !important;
        flex: 1;
        justify-content: flex-end !important;
        font-size: 15px;
    }

    #header-homepage {
        position: absolute;
        top: 30px;
        z-index: 3;
        width: 100%;
        background-color: transparent;
        padding: 50px 150px;
    }
}

/* desktop: 1336px x 768px */
@media screen and (min-width: 1336px) {
    .ant-menu-horizontal {
        display: flex !important;
        background: transparent;
        border-bottom: none !important;
        flex: 1;
        justify-content: flex-end !important;
        font-size: 15px;
    }

    #header-homepage {
        position: absolute;
        top: 30px;
        z-index: 3;
        width: 100%;
        background-color: transparent;
        padding: 50px 150px;
    }

    /* Splide arrow buttons */
    .splide__arrow--prev {
        left: -20px;
        /* Adjust the position of the left arrow */
    }

    .splide__arrow--next {
        right: -20px;
        /* Adjust the position of the right arrow */
    }
}