.layout {
    background: #f0f2f5;
}

* {
    font-family: 'Ovo', serif !important;
    margin: 0;
    padding: 0;
}

.logo-homepage {
    width: 100px !important;
    height: 50px !important;
}

.hamburger-menu {
    display: none;
}

.ant-menu-horizontal {
    display: none;
}

.video-src {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    overflow: hidden;
}

.title {
    font-size: 48px !important;
    line-height: 1.2 !important;
}

.headline-title {
    color: white !important;
}

.headline-button {
    background-color: #fff;
    color: #000;
    border-radius: 25px !important;
}

/* Partner Section */
.partner-div {
    padding: 50px 250px;
}

.partner-title {
    text-align: center !important;
}

.partner-splide-card {
    display: flex;
    width: 280px;
    height: 280px;
}

/* Join Us Section */
.join-us-div {
    padding: 50px 250px;
}

.join-us-subtitle {
    font-size: 24px !important;
    line-height: 1.2 !important;
}

/* FAQ Section */
.faq-div {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: #b7d7e9;
}

.faq-inner-div {
    padding: 0 250px;
    width: 100%;
}

/* mobile: 360px x 480px */
@media screen and (max-width: 767.9px) {
    .logo-homepage {
        width: 40px !important;
        height: 25px !important;
    }

    #header-homepage {
        position: absolute;
        z-index: 3;
        width: 100%;
        background-color: transparent;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .ant-menu-horizontal {
        display: none !important;
    }

    .headline-div {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .video-src {
        position: relative;
        height: auto;
        object-fit: contain;
    }

    .headline-title {
        font-size: 12px !important;
        line-height: 1 !important;
        text-align: center;
    }

    .overlay-homepage {
        position: absolute;
        left: 50%;
        top: 10vh;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        text-align: center;
        padding: 16px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headline-cta {
        position: absolute;
        left: 50%;
        top: 20vh;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        gap: 10px;
    }

    .headline-button {
        margin: 0 8px;
        width: 75px;
        height: auto;
        font-size: 10px !important;
        justify-content: center;
    }

    /* Partner Section */
    .partner-div {
        padding: 24px;
    }

    .partner-title {
        font-size: 24px !important;
        line-height: 1 !important;
    }

    .partner-splide-card {
        display: flex;
        width: 120px;
        height: 120px;
    }

    /* Splide arrow buttons */
    .splide__arrow--prev {
        left: -10px;
    }

    .splide__arrow--next {
        right: -10px;
    }

    /* Join Us Section */
    .join-us-div {
        padding: 24px;
        margin: 0 auto;
        width: 75%;
    }

    .join-us-title {
        font-size: 24px !important;
        line-height: 1 !important;
    }

    .join-us-subtitle {
        font-size: 16px !important;
        line-height: 1.2 !important;
    }

    /* FAQ Section */
    .faq-div {
        padding: 24px;
    }

    .faq-inner-div {
        padding: 0 50px;
        width: 100%;
    }

    .faq-title {
        font-size: 24px !important;
        line-height: 1.0 !important;
    }

    .faq-subtitle {
        font-size: 16px !important;
        line-height: 1.0 !important;
    }
}

/* tablet portrait: 768px x 1024px */
@media screen and (min-width: 768px) and (max-width: 979.9px) {
    .logo-homepage {
        width: 50px !important;
        height: 30px !important;
    }

    #header-homepage {
        position: absolute;
        z-index: 3;
        width: 100%;
        background-color: transparent;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .ant-menu-horizontal {
        display: none !important;
    }

    .headline-div {
        position: relative;
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-src {
        height: auto;
        object-fit: contain;
    }

    .headline-title {
        font-size: 24px !important;
    }

    .overlay-homepage {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        text-align: center;
        padding: 50px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headline-cta {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .headline-button {
        margin: 0 10px;
        width: 140px;
        font-size: 16px;
    }

    /* Partner Section */
    .partner-div {
        padding: 24px 50px;
    }

    .partner-title {
        font-size: 24px !important;
        line-height: 1.0 !important;
        text-align: center !important;
    }

    .partner-splide-card {
        display: flex;
        width: 180px;
        height: 180px;
    }

    /* Splide arrow buttons */
    .splide__arrow--prev {
        left: -20px;
    }

    .splide__arrow--next {
        right: -20px;
    }

    .ant-card {
        width: 100% !important;
        font-size: 12px !important;
    }

    /* Join Us Section */
    .join-us-div {
        padding: 24px 80px;
        margin: 0 auto;
        width: 75%;
    }

    .join-us-title {
        font-size: 24px !important;
        line-height: 1 !important;
    }

    .join-us-subtitle {
        font-size: 18px !important;
        line-height: 1.2 !important;
    }

    /* FAQ Section */
    /* FAQ Section */
    .faq-inner-div {
        padding: 0 80px;
        width: 100%;
    }

    .faq-title {
        font-size: 24px !important;
        line-height: 1 !important;
    }

    .faq-subtitle {
        font-size: 18px !important;
        line-height: 1 !important;
    }
}

/* tablet landscape: 1024px x 768px */
@media screen and (min-width: 980px) and (max-width: 1335.9px) {
    .ant-menu-horizontal {
        display: flex !important;
        background: transparent;
        border-bottom: none !important;
        flex: 1;
        justify-content: flex-end !important;
        font-size: 15px;
    }

    #header-homepage {
        position: absolute;
        top: 0px;
        z-index: 3;
        width: 100%;
        background-color: transparent;
        padding: 50px 150px;
    }

    .headline-div {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-src {
        width: 100%;
        height: 100vh;
    }

    .headline-title {
        font-size: 40px !important;
        line-height: 1.2 !important;
    }

    .overlay-homepage {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        text-align: center;
        padding: 50px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headline-cta {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .headline-button {
        margin: 0 10px;
        width: 220px;
    }

    .partner-splide-card {
        display: flex;
        width: 200px;
        height: 200px;
    }

    /* Splide arrow buttons */
    .splide__arrow--prev {
        left: -50px;
    }

    .splide__arrow--next {
        right: -50px;
    }

    .ant-card {
        display: flex;
        height: auto !important;
    }
}

/* desktop: 1336px x 768px */
@media screen and (min-width: 1336px) {
    .ant-menu-horizontal {
        display: flex !important;
        background: transparent;
        border-bottom: none !important;
        flex: 1;
        justify-content: flex-end !important;
        font-size: 15px;
    }

    #header-homepage {
        position: fixed;
        top: 0px;
        z-index: 3;
        width: 100%;
        background-color: transparent;
        padding: 50px 150px;
    }

    .headline-div {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-src {
        width: 100%;
        height: 100vh;
    }

    .headline-title {
        font-size: 48px !important;
        line-height: 1.2 !important;
    }

    .overlay-homepage {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        text-align: center;
        padding: 50px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headline-cta {
        position: absolute;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .headline-button {
        margin: 0 10px;
        width: 280px;
    }

    /* Splide arrow buttons */
    .splide__arrow--prev {
        left: -20px;
    }

    .splide__arrow--next {
        right: -20px;
    }
}